<section class="aboutus-section">
  <div class="container aboutus-container">
    <div class="aboutus-content">
      <h2 class="aboutus-section-title">About Us</h2>
      <div class="aboutus-section-text">
        <p class="aboutus-description">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="aboutus-description">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
    </div>
  <div>
   <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/about/aboutus-desktop@1x.jpg 1x,
            ./img/about/aboutus-desktop@2x.jpg 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
            ./img/about/aboutus-tab@1x.jpg 1x,
            ./img/about/aboutus-tab@2x.jpg 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/about/aboutus-mob@1x.jpg 1x,
            ./img/about/aboutus-mob@2x.jpg 2x" />
          <img
            class="aboutus-image"
            src="./img/about/aboutus-desktop@1x.jpg"
            alt="aboutus-ornament"
            width="594"
            height="545"
        /></picture>
      </div>
    </section>