<section class="collection">
  <div class="container collection-container">
    <h2 class="title-section-collection">Our Collection</h2>
    <ul class="collection-card">
      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection foto/img61desk.jpg 1x, /img/collection foto/img61desk2x.jpg 2x"
              media="min-width:1158 px"
            />
            <source
              srcset="/img/collection 
              foto/img61tab.jpg 1x, /img/
              collection foto/img61tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img61.jpg 1x, /img/
              collection foto/img612x.
              jpg 2x"
              media="max-width: 767px"
            />
            <img
              src="./img/collection foto/img61.jpg"
              alt="AUGUST Poltava women's blouseRING"
              width="360"
              height="300"
            />
          </picture>

          <p class="hover-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus,
            inventore!
          </p>
        </div>
        <div class="collection-list">
          <h3 class="collection-title">AUGUST Poltava women's blouseRING</h3>
          <p class="text">3300UAH</p>
        </div>
      </li>

      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection foto/img62desk.jpg 1x, /img/
             collection foto/img62desk2x.
             jpg 2x"
              media="min-width:1158px"
            />
            <source
              srcset="/img/collection 
              foto/img62tab.jpg 1x, /img/
              collection foto/img62tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img62.jpg 1x, /img/
              collection foto/img622x.
              jpg 2x"
              media="max-width: 767px"
            />

            <img
              src="./img collection foto/img62.jpg"
              alt="Women's blouse Gorgany"
              width="360"
              height="300"
            />
          </picture>

          <p class="hover-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
            sunt!
          </p>
        </div>
        
        <div class="collection-list">
          <h3 class="collection-title">Women's blouse Gorgany</h3>
          <p class="text">3350UAH</p>
        </div>
      </li>

      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection 
             foto/img64desk.jpg 1x, /img/
             collection foto/img64desk2x.
             jpg 2x"
              media="min-width:1158 px"
            />
            <source
              srcset="/img/collection 
              foto/img64tab.jpg 1x, /img/
              collection foto/img64tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img64.jpg 1x, /img/
              collection foto/img642x.
              jpg 2x"
              media="max-width: 767px"
            />

            <img
              src="./img/collection foto/img64.jpg"
              alt="Women's blouse Crimea"
              width="360"
              height="300"
            />
          </picture>
          <p class="hover-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            cupiditate. Lorem ipsum dolor sit amet consectetur
          </p>
        </div>
        <div class="collection-list">
          <h3 class="collection-title">Women's blouse Crimea</h3>
          <p class="text">4000UAH</p>
        </div>
      </li>

      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection 
             foto/img66desk.jpg 1x, /img/
             collection foto/img66desk2x.
             jpg 2x"
              media="min-width:1158 px"
            />
            <source
              srcset="/img/collection 
              foto/img66tab.jpg 1x, /img/
              collection foto/img66tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img66.jpg 1x, /img/
              collection foto/img662x.
              jpg 2x"
              media="max-width: 767px"
            />

            <img
              src="./img/collection foto/img66.jpg"
              alt="Men's shirt Verkhovina"
              width="360"
              height="300"
            />
          </picture>
          <p class="hover-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium, unde.
          </p>
        </div>
        <div class="collection-list">
          <h3 class="collection-title">Men's shirt Verkhovina</h3>

          <p class="text">3100UAH</p>
        </div>
      </li>

      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection 
             foto/img65desk.jpg 1x, /img/
             collection foto/img65desk2x.
             jpg 2x"
              media="min-width:1158 px"
            />
            <source
              srcset="/img/collection 
              foto/img65tab.jpg 1x, /img/
              collection foto/img65tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img65.jpg 1x, /img/
              collection foto/img652x.
              jpg 2x"
              media="max-width: 767px"
            />

            <img
              src="./img/collection foto/img65.jpg"
              alt="Mountain men's shirt"
              width="360"
              height="300"
            />
          </picture>
          <p class="hover-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero,
            odit!
          </p>
        </div>
        <div class="collection-list">
          <h3 class="collection-title">Mountain men's shirt</h3>
          <p class="text">3300UAH</p>
        </div>
      </li>

      <li class="collection-box">
        <div class="collection-img">
          <picture>
            <source
              srcset="/img/collection 
             foto/img63desk.jpg 1x, /img/
             collection foto/img63desk2x.
             jpg 2x"
              media="min-width:1158 px"
            />
            <source
              srcset="/img/collection 
              foto/img63tab.jpg 1x, /img/
              collection foto/img63tab2x.
              jpg 2x"
              media="min-width: 768px"
            />
            <source
              srcset="/img/collection 
              foto/img63.jpg 1x, /img/
              collection foto/img632x.
              jpg 2x"
              media="max-width: 767px"
            />

            <img
              src="/img/collection foto/img63.jpg"
              alt="Men's shirt Yasen"
              width="360"
              height="300"
            />
          </picture>
          <p class="hover-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            possimus!
          </p>
        </div>
        <div class="collection-list">
          <h3 class="collection-title">Men's shirt Yasen</h3>
          <p class="text">1700UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
