<section class="section-hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title-part">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-btn" href="#">
          Order
          <svg class="hero-btn-icon" width="24" height="16">
            <use href="/img/hero/hero-icon.svg#icon-hero-line"></use></svg
        ></a>
      </div>
      <div class="hero-img-wrapper">
        <picture>
          <source
            width="392"
            height="545"
            media="(min-width: 1280px)"
            srcset="
              /img/hero/hero-img-desk1280.jpg    1x,
              /img/hero/hero-img-desk1280@2x.jpg 2x
            "
          />
          <source
            width="413"
            height="575"
            media="(min-width: 768px)"
            srcset="
              /img/hero/hero-img-tab.jpg    1x,
              /img/hero/hero-img-tab@2x.jpg 2x
            "
          />
          <source
            width="335"
            height="545"
            media="(min-width: 375px)"
            srcset="
              /img/hero/hero-img-mob.jpg    1x,
              /img/hero/hero-img-mob@2x.jpg 2x
            "
          />
          <img
            class="hero-img"
            src="/img/hero/hero-img-mob.jpg"
            alt="Girl in gray vyshyvanka"
          />
        </picture>
      </div>
    </div>
    <div class="hero-info-block">
      <svg class="hero-info-block-icon" width="52" height="51">
        <use href="/img/hero/hero-icon.svg#hero-icon-star"></use>
      </svg>
      <p class="hero-info-block-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
