<div class="mobile-menu">
  <div class="menu-container">
    <div class="block">
      <address class="menu-contact-block">
        <ul>
          <li class="contact-item">
            <a class="color-item" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
        </ul>
      </address>
    </div>
    <nav class="menu-nav">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a href="/" class="menu-list-link">About us</a>
        </li>
        <li class="menu-list-item">
          <a href="/" class="menu-list-link">Our collection</a>
        </li>
        <li class="menu-list-item">
          <a href="/" class="menu-list-link">CUSTOMER ORDER</a>
        </li>
        <li class="menu-list-item">
          <a href="/" class="menu-list-link">TEstimonials</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="menu-close-btn" type="button">
      <svg class="burger-icon">
        <use class="burger-svg" href="/img/header-sprite.svg#icon-burger"></use>
      </svg>
    </button>
</div>
