<section class="order-section" id="order">
  <div class="container">
    <div class="picture">
        <picture >
          <source media="(min-width:1280px )"
           srcset="../img/order.picture/desktop-min.jpg 1x,
            ../img/order.picture/desktop@2x-min.jpg 2x ">

           <source media="(min-width:768px)" srcset="../img/order.picture/tablet-min.jpg 1x,
             ../img/order.picture/tablet@2x-min.jpg 2x">
          
           <img src="../img/order.picture/desktop-min.jpg" alt=""
           width="588" height="521">
        </picture> 
        </div>  
    
        <div class="order-form">
    
         <h2 class="your-order-review-form"><span class="accent-color">Your order</span> is our priority: Personalized approach and quality of service</h2>
         <form class="review-form">
           <div class="review-form-wrapper">
             <label class="review-form-field-label" for="user-fullname" >
             <div class="review-form-input-wrapper">
             <input class="review-form-input input"
             type="text"  
             id="user-fullname" 
             name="user-fullname"
             placeholder="Enter your full name"
             pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
             title="user-fullname"
             required/>
            </label>
           </div>
           </div>

       <div class="review-form-wrapper">
         <label class="review-form-field-label" for="user-email" >
         <div class="review-form-input-wrapper">
          <input class="review-form-input input"
           type="email" 
          id="user-email"
           name="user-email"
           placeholder="Enter your email"
           required/>
           </label>
          </div>
           

           <div class="review-form-wrapper-comment">
            <label class="review-form-field-label" for="user-comment" ></label>
            <textarea class="review-form-messege" 
             id="user-comment" 
             name="user-comment"
             required
             placeholder="Coments">Coments
            </textarea>
          </div>

          <button class="order-btn " type="submit">Send
            <svg class="order-btn-icon"  width="24" height="17">
              <use href="../img/order.picture/icon.svg#icon-untitled"></use>
            </svg>
          </button>
        </form>
  
      </div>
    </div>
        
  </div>
    </section>