/* ============ ABOUT US ============ */

.aboutus-section {
  background-image: url(/img/about/about-elements-mob@1x.png);
  background-repeat: no-repeat;
  background-position: right bottom 18px;
  background-color: #1c2225;
  padding-bottom: 80px;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto;
}
.aboutus-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.aboutus-section-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  text-transform: capitalize;
}

.aboutus-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.aboutus-description {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: normal;
  font-style: normal;
  color: rgba(252, 249, 249, 0.4);
  text-align: left;
}
.aboutus-image {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  border-radius: 4px;
  width: 355px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .aboutus-section {
    background-image: url(/img/about/about-elements-tab@1x.png);
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .aboutus-container {
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .aboutus-section-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: #fcf9f9;
  }
  .aboutus-description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
  }

  .aboutus-image {
    width: 704px;
    height: 545px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-section {
    background-image: url(/img/about/about-elements-desk@1x.png);
    padding-top: 150px;
    padding-bottom: 80px;

  }
  .aboutus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .aboutus-image {
    margin-top: auto;
    max-width: 594px;
    max-height: 545px;
  }
}
