/* SECTION OUR COLLECTION */
/* .container{ */
/* max-width: 320px; */
/* } */
.collection {
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-section-collection {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.03em;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.collection-box {
  max-width: 335px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-img {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.collection-box:hover .hover-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: red;
  padding: 40px 32px;
  background-color: yellow;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.collection-list {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 22px;
  border: none;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-title {
  padding-top: 18px;
  padding-bottom: 8px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.text {
  padding-bottom: 10px;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

@media screen and (min-width:768px) {
  .collection {
    padding: 25px 0 100px;
  }
  .collection-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
  }

  .collection-list {
    display: flex;
    gap: 20px;
    border: none;
  }

  .collection-box {
    width: 342px;
  }
  .collection-title {
    font-size: 18px;
  }
}

@media screen and (min-width:1280px) {
  .collection-container{
    margin: 0 auto;
  }
  .collection-list {
    display: flex;
    gap: 20px;
  }

  .collection-box {
    width: 380px;
  }
}
