:root {
  --color-black: #1C2225;
  --color-white: #FCF9F9;
  --color-gold: #ECD979;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-white);
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 14px;
  line-height: inherit;
  background-color: var(--color-black);
}

/* =======================
Utils
========================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =======================
Global
========================== */

.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen {
  @media (min-width: 768px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
      width: inherit;
      max-width: 768px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media (min-width: 1440){
    .container {
      max-width: 1440px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.section {
  width: 100%;
  background-color: #fff;
}

.page-slogan {
  font-size: 44px;
  line-height: calc(12/11);
  font-weight: 400;
  letter-spacing: -0.03em;
}

.card-title {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.nav {
  font-size: 14px;
  line-height: calc(9/7);
  font-weight: 400;
  letter-spacing: unset;
}

.input {
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  border-color: #FCF9F93C; /* trailing 3c is the 60% opacity setting */
}

.input::placeholder {
  color: #FCF9F932; /* traling 32 is the 50% opacity setting */
}

.button {
  border-radius: 15px;
  border-width: 1px;
  border-color: #FCF9F95A;
}

.button:hover,
.button:active,
.button:focus {
  border-color: var(--color-gold);
}