.hero-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

}

.section-hero {
  padding-top: 84px;
  padding-bottom: 40px;
  position: relative;
}

.hero-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  max-width: 335px;
  margin-bottom: 20px;
}

.hero-title-part {
  color: #ecd979;
}

.hero-btn {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  max-width: 154px;
  height: 49px;
  text-decoration: none;
  color: #fcf9f9;
  padding: 14px 36px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 40px;
  margin-left: 70px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn-focus {
  border-color: #ecd979;
}

.hero-img {
  border-radius: 4px;
}

.hero-btn-icon {
  fill: #ecd979;
  margin-left: 10px;
  align-self: center;
  justify-self: center;
}

.hero-info-block {
  display: none;
}

.hero-info-block-icon {
  fill: #ecd979;
  transition: transform 200ms cubic-bezier(0.6, 0, 0.4, 1);
}

.hero-info-block:hover .hero-info-block-icon,
.hero-info-block:focus .hero-info-block-icon {
  transform: rotate(360deg);
}

.hero-info-block-text {
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

@media screen and (max-width: 374px) {



  .hero-img {

    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {

  .hero-wrapper {
    max-width: none;
    width: 768px;
    position: relative;
  }

  .hero-conatiner {
      width: 768px;
      margin-right: auto;
      margin-left: auto;
    }

  .section-hero {
    padding-top: 100px;
    padding-bottom: 50px;
  }



  .hero-info-block {
    position: absolute;
    top: 114px;
    right: 50px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 115px;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.19;
    max-width: 549px;
    margin-bottom: 40px;
  }

  .hero-btn {
    max-width: 168px;
    font-size: 16px;
    margin-left: 141px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1280px) {


  .section-hero {
    padding-bottom: 60px;
  }

  .hero-wrapper {
    width: 1280px;
  }

  .hero-title {
    max-width: 518px;
    padding-top: 66px;
  }

  .hero-wrapper {
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: center;
  }

  .hero-info-block {
    top: 114px;
    right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section-hero {
    padding-bottom: 72px;
  }

  .hero-title {
    max-width: 632px;
    padding-top: 66px;
    font-size: 64px;
    line-height: 1, 16;
  }

  .hero-info-block {
    top: 66px;
  }
}