@import url('./reset.css');
@import url('./general.css');
/* Header import */
@import url('./header.css');
/* Hero import */
@import url('./hero.css');
/* About Us import */
@import url('./about.css');
/* Our Collection import */
@import url('./collection.css');
/* Rotator import */
@import url('./rotator.css');
/* Order import */
@import url('./order.css');
/* Testimonials import */
@import url('./testimonials.css');
/* Footer import */
@import url('./footer.css');
/* Mobile-menu import*/
@import url('./mobile-menu.css')
/*
SAMPLE FOR USING VARIABLE FONT
 .manrope-<sample> {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 
*/
/*.mobile-menu {
  display: fixed;
  z-index: 9999;
  max-width: 274px;
  max-height: 100vh;
  background-color: var(--color-gold);
}
.menu-icone {
  stroke: var(--color-black);
  height: 32px;
  width: 32px;
}
.menu-close {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  padding-right: 32px;
}*/