@import url('./reset.css');
@import url('./general.css');
/* Header import */
@import url('./header.css');
/* Hero import */
@import url('./hero.css');
/* About Us import */
@import url('./about.css');
/* Our Collection import */
@import url('./collection.css');
/* Rotator import */
@import url('./rotator.css');
/* Order import */
@import url('./order.css');
/* Testimonials import */
@import url('./testimonials.css');
/* Footer import */
@import url('./footer.css');

/*
SAMPLE FOR USING VARIABLE FONT
 .manrope-<sample> {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 
*/